* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: white;
}

.logo {
  max-width: 15vmax;
}
.highlight {
  background-color: yellow;
}

.accordion {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.accordion-item {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f8f8f8;
}

.accordion-title {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.accordion-title::after {
  content: "+";
  font-size: 25px;
  margin-left: auto;
}

.active-header::after {
  content: "-";
}

.accordion-answer {
  max-height: 0;
  overflow: hidden;
  transition: 500ms ease max-height;
}

.accordion-logo {
  width: 200px;
}

.title {
  padding-top: 2rem;
  text-align: center;
  background-color: lightslategray;
  padding-bottom: 2rem;
  color: white;
}

.headerLogo {
  width: 50vw;
}

.title {
  margin: auto;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
  /*font-weight: 700;*/
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
ul {
  list-style-type: none;
  text-decoration: none;
}

li {
  /*margin: 10px 0px;**/
  padding-left: 10px;
}

ul.subtext {
  padding-left: 0px;
  font-size: small;
  margin-left: 4rem;
  list-style-type: square;
}

ul.modal-list {
  list-style-type: square;
  font-size: normal;
  margin-left: 1rem;
}

.small-logo {
  width: 8rem;
}

.footer {
  color: black;
  margin-top: 75px;
  margin-bottom: 250px;

  padding: 40px 15px 40px 15px;
}

.light {
  color: lightgray;
}

.icon {
  width: 35px;
  vertical-align: middle;
  padding-left: 2px;
  padding-right: 6px;
  padding-bottom: 4px;
}

.greenBackground {
  background-color: #2e923c;
  color: white;
  border-radius: 4px;
}

.yellowBackground {
  background-color: #ffff00;
  color: black;
  border-radius: 4px;
}

.orangeBackground {
  background-color: #ee9a3a;
  color: white;
  border-radius: 4px;
}

.blackBackground {
  background-color: rgb(44, 39, 39);
  color: white;
}
.redBackground {
  background-color: rgb(201, 84, 84);
  color: white;
}
.box {
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 0px 5px 5px;
}

.solidbox {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 0px 5px 5px;
}

.smallLogo {
  max-height: 2rem;
}

.moon {
  width: 20px;
}

.infoSection {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  /*margin-right: 0.25rem;*/
  vertical-align: middle;

  background-color: rgba(148, 144, 144, 0.411);
  border-radius: 4px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.info {
  color: black;
  background-color: rgb(223, 223, 79);
  font-size: small;
  border-radius: 3px;
}

#moreInfo {
  margin-top: 8rem;
}

.diagnosticCodes {
  background-color: white;
  color: black;
}

.diagnosticCodes h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.diagnosticCodes .accordion-item {
  background-color: lightslategray;
  color: white;
}
#diagnosticCodes {
  color: rgb(38, 38, 39);
}

/*
button {
  border: none;
  padding: 0;
  background: none;
}
*/

.diagnosisButton {
  border: none;
  padding: 0;
  background: none;
}

#erCodes {
  width: 22rem;
  padding-bottom: 1rem;
}

.row {
  display: flex;
}
