* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "Inter", sans-serif;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}
h4 {
  font-family: "Inter", sans-serif;
}

body {
  background-color: white;
}

.logo {
  max-width: 15vmax;
}
.highlight {
  background-color: rgb(235, 235, 127);
}

.accordion {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.accordion-item {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f8f8f8;
}

.accordion-title {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.modalPic {
  width: 60vw;
  max-width: 600px;
}

.accordion-title::after {
  content: "+";
  font-size: 25px;
  margin-left: auto;
}

.active-header::after {
  content: "-";
}

.accordion-answer {
  max-height: 0;
  overflow: hidden;
  transition: 400ms ease max-height;
}

.accordion-logo {
  width: 2.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

.accordionLogo {
  width: 2.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

.title {
  padding-top: 3px;
  text-align: center;
  background-color: black;
  padding-bottom: 3px;
  color: white;
}

.headerLogo {
  width: 50vw;
}

.title {
  margin: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
  /*font-weight: 700;*/
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
ul {
  list-style-type: none;
  text-decoration: none;
}

li {
  /*margin: 10px 0px;**/
  padding-left: 10px;
}

ul.subtext {
  padding-left: 0px;
  font-size: small;
  margin-left: 1rem;
  list-style-type: square;
}

ul.modal-list {
  list-style-type: square;
  font-size: normal;
  margin-left: 1rem;
}

.small-logo {
  width: 6rem;
}

.footer {
  background-color: black;
  color: lightslategray;
  margin-top: 75px;
  margin-bottom: 250px;

  padding: 40px 15px 40px 15px;
}

.light {
  color: lightgray;
}

.icon {
  width: 1.5rem;
  vertical-align: text-bottom;
  padding-left: 4px;
  padding-right: 6px;
  padding-bottom: none;
}

.greenBackground {
  background-color: #579c61;
  color: white;
  border-radius: 4px;
}

.lightBlueBackground {
  background-color: rgb(149, 211, 250);
  color: rgb(15, 13, 13);
  border-radius: 4px;
  padding-left: 2rem;
}

.yellowBackground {
  background-color: #ffc857;
  /*background-color: #ecec2e;*/
  color: black;
  border-radius: 4px;
}

.orangeBackground {
  background-color: #ffc857;
  color: white;
  border-radius: 4px;
}

.blackBackground {
  background-color: #323031;
  /*background-color: rgb(41, 39, 39);*/
  color: white;
}
.redBackground {
  background-color: #db3a34;
  /*background-color: rgb(201, 84, 84);*/
  color: white;
}

.box {
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 0px 5px 5px;
}

.solidbox {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 0px 5px 5px;
}

.smallLogo {
  width: 3rem;
}

.moon {
  width: 20px;
}

.infoSection {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  /*margin-right: 0.25rem;*/
  vertical-align: middle;

  background-color: rgba(148, 144, 144, 0.411);
  border-radius: 4px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.info {
  color: black;
  background-color: rgb(223, 223, 79);
  font-size: small;
  border-radius: 3px;
}

#moreInfo {
  margin-top: 8rem;
}

.diagnosticCodes {
  background-color: white;
  color: black;
}

.diagnosticCodes h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.diagnosticCodes .accordion-item {
  background-color: lightslategray;
  color: white;
}
#diagnosticCodes {
  color: rgb(38, 38, 39);
}

/*
button {
  border: none;
  padding: 0;
  background: none;
}
*/

.diagnosisButton {
  border: none;
  padding: 0;
  background: none;
}

#erCodes {
  width: 15rem;
  padding-bottom: 1rem;
}

.row {
  display: flex;
}

.msk {
  background-color: lightslategray;
  padding-top: 30px;
}

#fandDcodes {
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 3.5rem auto;
  padding-left: 5px;
}

.accordionIcon {
  width: 35px;
  padding-left: 6px;
  vertical-align: text-bottom;
}

.indent {
  padding-left: 10px;
}

.navigationButtons {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}
.navigationButtons button {
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 7px;
}

.lightBlueText {
  color: rgb(69, 154, 207);
}

.thick {
  font-weight: 600;
}

b {
  font-weight: 600;
}

#codesLogo {
  width: 10rem;
}
