:root {
  --green: rgb(93, 173, 145);
  --red: rgb(232, 108, 98);
  --yellow: rgb(235, 235, 127);
  --lightBlue: rgb(183, 216, 236);
  --purple: rgb(177, 104, 219);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "Inter", sans-serif;
  padding-top: 1.5rem;
  padding-bottom: 0rem;
}

#subTitle {
  padding-bottom: 3rem;
}

h4 {
  font-family: "Inter", sans-serif;
  padding-left: 8px;
}

h4 .accordion-title {
  font-size: 2rem;
}

u {
  text-decoration-thickness: 10%;
  text-decoration-style: dotted;
}

body {
  background-color: white;
}

i {
  background-color: var(--lightBlue);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 3px;
}

.logo {
  max-width: 15vmax;
}
.highlight {
  background-color: var(--yellow);
}

.accordion {
  max-width: 900px;
  margin: 0 auto;
  padding: 15px;
  padding-bottom: 3rem;
}

.accordion-item {
  border-radius: 10px;
  padding: 6px;
  margin-bottom: 20px;
  background-color: #f8f8f8;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.accordion-title {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.accordion-title::after {
  content: "+";
  font-size: 25px;
  margin-left: auto;
}

.active-header::after {
  content: "-";
}

.accordion-answer {
  padding: 0px 8px 0px 8px;
  max-height: 0;
  overflow: hidden;
  transition: 400ms ease max-height;
}

.accordion-answer h4 {
  padding-left: 8px;
  padding-top: 8px;
}

.accordion-logo {
  width: 3rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

.accordionLogo {
  width: 3rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

.title {
  text-align: center;
  color: black;
  letter-spacing: -2px;
}

.newTitle {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  color: black;
  font-size: x-large;
}

.headerLogo {
  width: 50vw;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
  /*font-weight: 700;*/
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

li {
  /*margin: 10px 0px;**/
  padding-left: 10px;
}

ul.subtext {
  padding-left: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: small;
  margin-left: 1rem;
  list-style-type: square;
  background-color: rgb(227, 230, 233);
  border-radius: 3px;
}

ul.modal-list {
  list-style-type: square;
  font-size: normal;
  margin-left: 1.5rem;
}

.small-logo {
  width: 6rem;
}

.light {
  color: lightgray;
}

.icon {
  width: 1.5rem;
  vertical-align: text-bottom;
  padding-left: 4px;
  padding-right: 6px;
  padding-bottom: 3px;
}

.greenBackground {
  background-color: var(--green);
  color: white;
  border-radius: 4px;
}

.lightBlueBackground {
  background-color: rgb(149, 211, 250);
  color: rgb(15, 13, 13);
  border-radius: 4px;
  padding-left: 2rem;
}

.yellowBackground {
  background-color: var(--yellow);
  /*background-color: #ecec2e;*/
  color: black;
  border-radius: 4px;
}

.orangeBackground {
  background-color: var(--yellow);
  color: black;
  border-radius: 4px;
}
.blackBackground {
  background-color: #323031;
  /*background-color: rgb(41, 39, 39);*/
  color: white;
}
.redBackground {
  background-color: var(--red);
  /*background-color: rgb(201, 84, 84);*/
  color: white;
}

.box {
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px 0px 5px 5px;
}

.solidbox {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 5px 5px 5px;
}

.smallLogo {
  width: 3rem;
}

.moon {
  width: 20px;
}

.infoSection {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  /*margin-right: 0.25rem;*/
  vertical-align: middle;
  background-color: rgba(148, 144, 144, 0.411);
  border-radius: 4px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.info {
  color: black;
  background-color: rgb(223, 223, 79);
  font-size: small;
  border-radius: 3px;
}

#moreInfo {
  margin-top: 8rem;
}

.diagnosticCodes {
  background-color: white;
  color: black;
  padding-top: 1rem;
}

.diagnosticCodes h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.diagnosticCodes .accordion-item {
  background-color: lightslategray;
  color: white;
}
#diagnosticCodes {
  color: rgb(38, 38, 39);
}

.diagnosisButton {
  cursor: pointer;
  border: none;
  padding: 0;
  background: none;
}

.diagnosisButton:active {
  transform: scale(0.9);
}

#erCodes {
  width: 15rem;
  padding-bottom: 1rem;
}

.row {
  display: flex;
}

.msk {
  background-color: rgb(74, 72, 207);
  padding-bottom: 3rem;
}

#fandDcodes {
  /*color: white;
  /*padding-top: 0rem;
  padding-bottom: 1rem;
  */
}

.grid {
  display: grid;
  grid-template-columns: 3.5rem auto;
  margin-left: 8px;
  padding: 6px;
}

.anesthesiaGrid {
  display: grid;
  grid-template-columns: 4rem auto;
  margin-left: 8px;
  padding: 8px 8px 8px 8px;
  background-color: #f8f8f8;
}

.accordionIcon {
  width: 35px;
  padding-left: 6px;
  vertical-align: text-bottom;
}

.indent {
  padding-left: 10px;
}

.navigationButtons {
  padding-top: 4rem;
  padding-bottom: 2rem;
  text-align: center;
  cursor: pointer;
}
.navigationButtons button {
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 7px;
}

.footerButton {
  background-color: rgb(240, 233, 233);
  color: black;
  margin-top: 0.5rem;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  border-radius: 7px;
}

.lightBlueText {
  color: rgb(69, 154, 207);
  font-weight: 600;
}

.thick {
  font-weight: 600;
}

b {
  font-weight: 600;
}

#codesLogo {
  width: 10rem;
}

.right-align {
  text-align: right;
}

#ohipBackground {
  background-color: rgb(93, 173, 145);
  padding: 10px 15px 10px 15px;
  color: white;
  border-radius: 6px;
}

#twitter {
  width: 2rem;
  padding-right: 0.5rem;
  vertical-align: middle;
}

#redBackground {
  background-color: var(--red);
}

.textCenter {
  text-align: center;
}

.textWhite {
  color: white;
}

#anesthesiaLink {
  width: 1.5rem;
  vertical-align: text-bottom;
}

.lighterText {
  font-weight: lighter;
}

.sedation {
  background-color: var(--lightBlue);
  padding-bottom: 3rem;

  background-image: linear-gradient(
    to right top,
    #b7d8ec,
    #9bcbea,
    #7dbee9,
    #5db1e8,
    #33a3e7
  );
  border-radius: 20px 20px 0px 0px;
}

.footer {
  background-color: black;
  color: white;

  margin-top: 3rem;

  padding-top: 3rem;
  padding-left: 10px;
  padding-right: 10px;
}

.footerCard {
  background-color: rgb(26, 26, 26);
  color: rgb(180, 179, 179);
  border-radius: 9px;
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.footerButton {
  /* background-color: rgb(240, 233, 233);
  color: black;*/
  margin-top: 0.5rem;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  border-radius: 7px;
}

.twitterButton {
  background-color: rgb(55, 123, 200);
  color: black;
}

.emailButton {
  background-color: coral;
  color: black;
}

.diagnosticGrid {
  --auto-grid-min-size: 8rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 1rem;

  /*

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px; */

  text-align: center;
}

.diagnosisCard {
  /*8?background-color: rgb(92, 27, 117);*/
  color: black;
  padding: 12px;
  border-radius: 8px;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  min-height: 8rem;
  background-position: center;
}

.diagnosisCard ul {
  font-size: 0.8rem;
  padding: 4px 0px 4px 0px;
}

#blood,
#heart,
#laceration,
#injuries {
  background-color: rgb(231, 104, 104);
  background-image: none;
}

#male,
#resp {
  background-color: var(--lightBlue);
  background-image: none;
}

#male {
  background-image: url(images/eggplant.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

#female,
#breast {
  background-color: rgb(255, 215, 221);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#female {
  background-image: url(images/female.svg);
}

#ent {
  background-color: orange;
  background-image: none;
}
#urine {
  background-image: none;
  background-color: rgb(253, 253, 116);
}
#gi {
  background-image: url(images/stool.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#covid {
  background-image: url(images/covid.svg);
  background-size: cover;
}

#teeth {
  background-color: white;
  background-image: url(images/teeth.svg);
  background-repeat: none;
  background-size: contain;
}

.stickyFooter {
  position: sticky;
  bottom: 5px;
  margin: 0 auto;
  color: black;
  text-align: center;
}

.stickyFooter button {
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 7px;
}
